<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">

<head>
    <title>Product Order Form Flat Responsive widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Product Order Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- fonts  -->
    <link href="//fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <!-- /fonts -->
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
    <!-- /css -->
</head>

<body>
    <h1 class="header-agileits w3layouts w3 w3l w3ls">PHIẾU ĐẶT HÀNG</h1>

    <div class="content-w3ls agileits agileinfo wthree">
        <form action="#" method="post">
            <div class="form-wthree1 agileits agileinfo wthree">
                <h1>Người Nhận</h1>
                <div class="form-control">
                    <label class="header">Số điện thoại <span>:</span></label>
                    <input type="text" id="numberphone" name="" placeholder="Số điện thoại"
                        title="Please enter your number Phone" required="">
                </div>

                <div class="form-control">
                    <label class="header">Họ và Tên<span>:</span></label>
                    <input type="text" id="firstname" name="" placeholder="Họ và tên"
                        title="Please enter your First Name" required="">
                </div>

                <div class="form-control">
                    <label class="header">Địa chỉ <span>:</span></label>
                    <input type="text" id="address" name="" placeholder="Địa chỉ"
                        title="Please enter a Valid Email Address" required="">
                </div>
                <div class="form-control">
                    <label class="header">Khu vực <span>:</span></label>
                    <select id="DistrictSelect">

                    </select>
                </div>

                <div class="form-control">
                    <label class="header">phường/xã<span>:</span></label>
                    <select id="WardSelect">

                    </select>
                </div>


            </div>



            <div class="clear"></div>
            <h1>Gói hàng</h1>
            <div class="form-control2">
                <label class="header">Mã đơn KH <span>:</span></label>
                <input type="text" id="TEXT" name="" placeholder="" title="Please enter Billing Address" required="">
            </div>

            <div class="form-control2">
                <label class="header">Khối lượng <span>:</span></label>
                <input type="text" id="weightH" name="" placeholder="Your Address" title="Please enter Your Address"
                    required="">
            </div>
            <div class="form-control2">
                <label class="header">Kích thước <span>:</span></label>
                <input type="text" id="TEXT" name="" placeholder="Your Address" title="Please enter Your Address"
                    required="">
            </div>
            <div class="form-control">
                <label class="header">KL Quy đổi<span>:</span></label>
                <input type="tel" id="LengthH" name="usrtel1" placeholder="+??" title="Please enter Your Phone Number"
                    maxlength="4" required="">
                <label class="header">Dài <span>:</span></label>
                <input type="tel" id="widthH" name="usrtel1" placeholder="+??" title="Please enter Your Phone Number"
                    maxlength="4" required="">
                <label class="header">Rộng <span>:</span></label>
                <input type="tel" id="heightH" id="height" name="usrtel1" placeholder="+??"
                    title="Please enter Your Phone Number" maxlength="4" required="">
                <label class="header">Cao <span>:</span></label>

            </div>

            <div class="form-control">
                <label class="header">Phuong thuc thanh toan<span>:</span></label>
                <br>
                <p id="PNhanh" style="display:none">Nhanh</p>
                <input style="display:none" id="rdbtnNhanh" type="radio" name="gender" value="male">
                <p id="PCham" style="display:none">Chậm</p>
                <input style="display:none" id="rdbtnCham" type="radio" name="gender" value="female">

            </div>
            <h1>Gói cước</h1>

            <div class="form-wthree3 w3-agileits agileits-w3layouts agile">
                <div class="form-control">
                    <label class="header">Tổng <span>:</span></label>

                </div>

                <div class="form-control">
                    <label class="header">Phí vận chuyển <span>:</span></label>

                </div>
            </div>
            <div class="clear"></div>

            <div class="form-control last">
                <input id="send" type="" class="register" value="Gửi">

                <div class="clear"></div>
            </div>
        </form>
    </div>
    <p class="copyright w3layouts w3 w3l w3ls">KOF <a href="https://ungdungthongminh.vn/"
            target="_blank">ungdungthongminh.vn</a></p>
</body>

<script>

    $(document).ready(function () {
        var send = false;
        var token = "TokenStaging", isLoaded = false, IdProvice, toWardcode, Note, ReturnAddress, ReturnContactName, ReturnContactPhone,
        width, height, weight, Length, ServerId, NoteCode, Note;
        $.ajax({
            type: 'POST',
            url: "/get-list-District",
            data: { token },
            dataType: "json",
            success: function (data) {
                $("#DistrictSelect").append(`
                        <option id="DistricOption" value="">(chọn quận)</option>`)
                data.data.forEach(item => {
                    $("#DistrictSelect").append(`
                        <option id="DistricOption" value=${item.DistrictID}>${item.DistrictName}</option>`
                    )
                });
            }, error: function (err) {
                console.log("sai");
            }
        }).done(function () {
            isLoaded = true;
            console.log(isLoaded);
        })

        $('#DistrictSelect').change(function (e) {
            console.log(isLoaded)

            $("#WardSelect").empty();
            if (isLoaded) {

                IdProvice = $(this).val();

                console.log(IdProvice)
                $.ajax({
                    type: 'POST',
                    url: "/get-list-ward",
                    data: { token, IdProvice },
                    dataType: "json",
                    success: function (data) {
                        $("#WardSelect").append(`
                        <option id="WardOption" value="">(chọn huyện phường)</option>`)
                        data.data.forEach(item => {
                            $("#WardSelect").append(`
                        <option id="WardOption" value=${item.WardCode}>${item.WardName}</option>`
                            )
                        })

                    }, error: function (err) {
                        console.log("sai");
                    }
                });
                $("#WardSelect").change(function () {
                    toWardcode = $(this).val();
                    console.log(toWardcode);
                })

                $("#send").click(function () {

                    send = false
                    width = $("#widthH").val();
                    height = $("#heightH").val();
                    weight = $("#weightH").val();
                    Length = $("#LengthH").val();
                    ReturnContactName = $("#firstname").val();
                    ReturnContactPhone = $("#numberphone").val();
                    ReturnAddress = $("#address").val();
                    $.ajax({
                        type: 'POST',
                        url: "/get-ServerID",
                        data: { weight, Length, width, height, IdProvice },
                        dataType: "json",
                        success: function (data) {                           
                            ServerId = data.data[0];
                            console.log(ServerId);
                            if(typeof ServerId !='undefined')
                            {
                                $.ajax({
                            type: 'POST',
                            url: "/create-oder-GHN",
                            data: {
                                IdProvice, toWardcode, ServerId,
                                weight, Length, width, height, ReturnAddress, ReturnContactName, ReturnContactPhone
                            },
                            dataType: "json",
                            success: function (data) {
                               console.log("gui thanh cong")
                            }, error: function (err) {
                                console.log("sai");
                            }
                        })
                            }
                            alert(data.data[0]+"Thông tin về cước phí giao hàng phí giao hàng" + data.data[1] + "Thời gian ước tính" + data.data[2] + "Tên dịch vụ giao hàng:" + data.data[3]);
                        }, error: function (err) {
                            console.log("sai");
                        }
                    })
                   
                    // let ServerId = 53319;
                    // let ToDistric = 1, toWard = 2;
                    if (send == true) {
                        console.log(send +""+ ServerId)
                       
                    }

                })


            }
        }
        )



        // if (isLoaded) {
        //     $('body').on('change', '#DistrictSelect', function (e) {
        //         let val = $(this);
        //         let val2 = $('#DistrictSelect option:selected').val();
        //         console.log({val2});
        //     })

        // }
    });


</script>

</html>